<ion-content [fullscreen]="true">

  <div class="header"><!--contenedor del header-->
    <ion-title class="title">Bienvenido</ion-title>
    <p class="subTitle">Crea tu cuenta para ingresar</p>
  </div>

  <form><!--fomr de registro-->
    <div class="ion-padding">

      <ion-item><!--input de nombre-->
        <ion-input class="input" placeholder="Nombre"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>

      <ion-item><!--input de apellido-->
        <ion-input class="input" placeholder="Apellido"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>

      <ion-item><!--input de correo-->
        <ion-input class="input" placeholder="Correo"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>

      <ion-item><!--input de contraseña-->
        <ion-input class="input" placeholder="Contraseña"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>

      <ion-item><!--input de repita contraseña-->
        <ion-input class="input" placeholder="Repita contraseña"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
    
      <div class="singinLink">
        <p> ¿Ya tienes cuenta?<a style="color:#FFC33F"[routerLink]="['/login']">Ingresa aqui</a></p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px;">
      <ion-fab-button [routerLink]="['/mainmenu']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
