<div class="fullscreen">
  <div class="formbox">
    <ion-icon class="closebtt" name="close-circle-outline" (click)="close()" ></ion-icon>
    <div class="title">
      <p>{{tittle}}</p>
    </div>
    <form class="form" [formGroup]="nameform" novalidate>
      <div class="inputbox">
        @if (!isEdit) 
          {<ion-input class="input" formControlName="Name"  placeholder="{{inputname}}" style="color:rgb(255, 255, 255)"></ion-input>
        }@else()
          {<ion-input [(ngModel)]="inputname" class="input" formControlName="Name"  placeholder="{{inputname}}" style="color:rgb(255, 255, 255)"></ion-input>}
      </div>
      <div class="savebtt">
        <ion-button (click)="submit()">
          <p>{{buttontext}}</p>
        </ion-button>
      </div>
    </form>
  </div>
</div>