.fullscreen{
    height: 100%;
    width: 100%;
    backdrop-filter: blur(20px);
    background-color: rgba(69, 214, 233, 0.068);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8888;
}
.formbox{
    z-index: 9999;
    height: 30%;
    width: 80%;
    border: 1px solid rgba(18, 160, 226, 0.63);
    background-color: rgb(19, 135, 212);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.closebtt{
    position: absolute;
    font-size: 35px;
    top: 5px;
    right: 5px;
  }
.title{
    font-size: 20px;
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}
.inputbox{
    margin-top: 14px;
    width: 80%;
    height: 30%;
}
.input{
    height: 25%;
    background-color: rgb(18, 140, 212);
    border: 1px solid rgba(18, 160, 226, 0.63);
    border-radius: 5px;
    --highlight-color-focused:none;
    text-indent: 10px;
}
.savebtt{
    height: 15%;
    width: 40%;
    background-color: #3237be;
    //background-color: rgb(23, 132, 233);
    border: 1px solid rgb(168, 189, 216);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}