.full{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    
}

.box{
    position: relative;
    border-radius: 10px;
    border: 1px solid red;
    width: 90%;
    height: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 28px;
    margin-top: 40px;
    width: 98%;
    min-height: 6%;
    text-align: center;
}
p{
    margin:0px;
}

.photobox{
    border: 1px solid yellow;
    margin-top: 20px;
    width: 50%;
    height: 20%;
}
.questionbox{
    border: 1px solid black;
    margin-top: 20px;
    width: 98%;
    height: 10%;
}
.answersbox{
    border: 1px solid purple;
    margin-top: 20px;
    width: 98%;
    min-height: 10%;
}
.buttonbox{
    position: absolute;
    border: 1px solid orange;
    margin-top: 10px;
    width: 98%;
    height: 8%;
    bottom: 10px;
}