
<ion-content [fullscreen]="true">
  <app-animated-background></app-animated-background>
  <div class="header"><!--contenedor del header-->
    <ion-title class="title">Bienvenido {{ user.name }}</ion-title>
    <p class="subTitle">presiona el boton de play para comenzar</p>
  </div>

  <div class="container">
    <div class="startButton"><span>Play</span></div>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="stats-chart-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="add" [routerLink]="['/studythemepage']">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
  <ion-fab vertical="top" horizontal="end" style="margin-top:10px; margin-right:10px;">
    <ion-fab-button>
      <ion-icon name="person-circle-outline" style="font-size: 60px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
