svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #0e4166;
  background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
}
.header{
  color: white;
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  .subTitle{
      color: white;
      font-size: 0.9rem;
  }
  .title{
      font-size: 2rem;
  }
}
.container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.startButton {
    z-index: 999;
    background: none;
    width: 150px;
    height: 150px;
    border: solid 5px white;
    border-radius: 100%;
    position: relative; 
    text-indent:-9999px;
    box-shadow: 1px 1px 3px #999999;
}
  
.startButton span {
    z-index: 999;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 60px solid white;
    border-bottom: 35px solid transparent;
    position:absolute;
    top:26%;
    left:38%;    
}

ion-tab-bar{
  --border:none;
  --background:transparent;
  height: 10%;
  
}
ion-tabs {
  position: fixed;
  bottom: 0;
  width: 100%;
}
ion-tab-button{
  --color:#ffffff;
}
ion-icon{
  font-size: 30px;
}
ion-fab-button{
  --background:transparent;
  --box-shadow:none;
  --transition:none;
}
.full{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal{
  position: absolute;
  width: 90%;
  height: 70%;
  z-index: 9999;
}
.opacitimodal{
  top: 0;
  position: absolute;
  z-index: 9998;
  background-color: rgba(43, 85, 85, 0.534);
  width: 100%;
  height: 100%;
}