<ion-content [fullscreen]="true">
  <app-animated-background></app-animated-background>
  <div class="img">
    <ion-img class="brain" src="assets/cerebro-gymbro.png"/>
  </div>
  <div class="header"><!--contenedor del header-->
    <ion-title class="title">El conocimiento es poder</ion-title>
    <br> 
    <ion-text class="subTitle">{{quote}}</ion-text>
  </div>
  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px;">
    <ion-fab-button [routerLink]="['/authpage']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
