.container{
  text-align: center;
}
.header{
  position: relative;
  color: white;
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
  .subTitle{
      color: white;
      font-size: 0.9rem;
  }
  title{
      font-size: 2rem;
  }
}
.img{
  position: relative;
  margin-top:40%;
  height: 30%;
  width: 100%;
  justify-content: center;
  display: flex;
  
}
.brain{
  width: 80%;
  height: 100%;
}
