<ion-content [fullscreen]="true">
  <app-animated-background></app-animated-background>
  <div class="header"><!--contenedor del header-->
    <ion-title class="title">
      Ingresa tu email
      <p class="subTitle">para poder reestablecer tu contraseña</p>
    </ion-title>
  </div>
  <div class="ion-padding"><!--contenedor que alinea el contenido-->
    <ion-item><!--input de correo-->
      <ion-input class="input" placeholder="Ingrese su correo" style="color:grey"></ion-input>
      <ion-icon name="person-outline" style="color:grey"></ion-icon>
    </ion-item>
  </div>

  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px;">
    <ion-fab-button [routerLink]="['/login']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
