<ion-content [fullscreen]="true">
  <app-animated-background></app-animated-background>
  <div class="header"><!--contenedor del header-->
    <ion-title class="title">Bienvenido</ion-title>
    <p class="subTitle">inicia sesión para comenzar</p>
  </div>

  <form [formGroup]="loginForm" novalidate (ngSubmit)="login()"> 

    <div class="ion-padding"><!--contenedor de los imput del form que alinea el contenido-->

      <ion-item><!--input de correo-->
        <ion-input formControlName="email" placeholder="Correo" class="input" style="color:grey"></ion-input>
        <ion-icon name="person-outline" style="color:grey"></ion-icon>
      </ion-item>

      <div *ngIf="errorControl['email']?.invalid && (errorControl['email']?.touched || errorControl['email']?.dirty)">
        <ion-text color="danger">
          <p *ngIf="errorControl['email']?.errors?.required">El correo es requerido.</p>
          <p *ngIf="errorControl['email']?.errors?.email">El correo no es válido.</p>
        </ion-text>
      </div>

      <ion-item><!--input de contraseña-->
        <ion-input formControlName="password" placeholder="Contraseña" class="input" type="password" style="color:grey"></ion-input>
        <ion-icon name="lock-closed-outline" style="color:grey"></ion-icon>
      </ion-item>
      
      <div *ngIf="errorControl['password']?.invalid && (errorControl['password']?.touched || errorControl['password']?.dirty)">
        <ion-text color="danger">
          <p *ngIf="errorControl['password']?.errors?.required">La contraseña es requerida.</p>
          <p *ngIf="errorControl['password']?.errors?.pattern">La contraseña debe tener al menos 8 caracteres, incluir una letra mayúscula, una letra minúscula y un número.</p>
        </ion-text>
      </div>

      <div class="forgotPassword"><!--contenedor del link de olvido de contraseña-->
        <a [routerLink]="['/forgotpassword']" style="color:#FFC33F">¿Olvidaste tu contraseña?</a>
      </div>

    </div>

    <div class="singupLink"><!--redireccion a el login si ya tiene cuenta-->
      <p> ¿No tienes una cuenta?<a [routerLink]="['/register']" style="color:#FFC33F"> Registrate</a></p>
    </div>

    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:5px;"><!--boton que redireciona al menu-->
      <ion-fab-button [disabled]="loginForm.invalid" (click)="login()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</form>

</ion-content>
