.modal-wrapper{
    background: transparent;
}
.ion-page{
    background: transparent;
}
.ion-content{
    background: transparent;
}
.modal-transparent{
    height: 100%;
    width: 100%;
    --background-color: white;
}