<div class="fullscreen">
  <div class="formbox">
    <ion-icon class="closebtt" (click)="close()" name="close-circle-outline"></ion-icon>
    <div class="title">
      <p>{{tittle}}</p>
    </div>
    <form formGroup="nameform">
      @if(isEdit){
        <div class="inputbox">
          <ion-input class="input" formControlName="Name" placeholder="{{nameInput}}" style="color:rgb(255, 255, 255)"></ion-input>
        </div>
      }@else{
        <div class="inputbox">
          <ion-input class="input" formControlName="Name" placeholder="{{nameInput}}" style="color:rgb(255, 255, 255)"></ion-input>
        </div>
      }
    <div class="savebtt">
      <button type="submit">{{buttontext}}</button>
    </div>
  </form>
  </div>
</div>