<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="themeForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">Nombre del Tema</ion-label>
      <ion-input formControlName="themeName"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!themeForm.valid">{{ buttonText }}</ion-button>
  </form>
</ion-content>